# {{ project.name }} 공기연장 간접비 보고서

{{ today_kr }}

발주처: **{{ contractor.name_display | default(contractor.name_legal) }}**

작성: 사단법인 관계기관(건설관리)

---

## 제출문

{{ contractor.name_legal }} 귀중

귀사로부터 의뢰받은 「{{ project.name }}」 현장의 1차공사 공사기간 연장과 관련하여 본 공사의 계약조건(공사계약 일반조건, 설계서), 국가계약법령, 계약예규, 관련 판례, 귀사로부터 제공받은 근거자료 등에 의거하여 공기연장 간접비 산정의 결과로 본 보고서를 제출합니다.

{{ today_kr }}

사단법인 관계기관(건설관리)
